.todo__li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);
  margin-bottom: 20px;
  transition: 0.5s all;
}

.todo__icons-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo__icons-inner span {
  padding: 0 10px;
}

.todo__li--hover:hover {
  transition: 0.5s all;
  transform: translateY(-5px);
}

.todo__li.finished {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: rgba(255, 4, 4, 0.2);
  text-decoration: line-through;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);
  margin-bottom: 20px;
  transition: 0.5s all;
}
