.todo__li {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);
  margin-bottom: 20px;
  transition: 0.5s all;
  overflow: auto;
}

.todo__icons-inner {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

.todo__icons-inner span {
  padding: 0 10px;
}

.todo__li--hover:hover {
  transition: 0.5s all;
  transform: translateY(-5px);
}

.finished .todo__li--hover {
  background-color: rgba(255, 4, 4, 0.2);
}

.todo__li.finished {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: rgba(255, 4, 4, 0.2);
  text-decoration: line-through;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);
  margin-bottom: 20px;
  transition: 0.5s all;
}

@media (max-width: 576px) {
  .todo__li {
    font-size: 16px;
    padding: 3px;
  }
  .todo__li--hover {
    padding: 3px !important;
  }
  .todo__li.finished {
    font-size: 16px;
    padding: 3px !important;
  }
  .todo__icons-inner {
    background-color: rgba(255, 4, 4, 0);
  }
}
